// colors
$base-light:#fff;
$base-dark:#000;

$primary-1:#013056;
$primary-2:#075da2;
$primary-3:#1b7fd0;
$primary-4:#caddea;
$primary-5:#0983e5;

$order-color:#dd0000;

$select-bg:#e9f7fe;

//fonts 

$font-thin:'Roboto-Thin';
$font-regular:'Roboto-Regular';
$font-bold:'Roboto-Bold';
$font-medium:'Roboto-Medium';

$font-normal: 'Arial Narrow';